@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background: #1abc9c;
}

/* Main Card */
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.wrapper .title {
  height: 120px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .row.button {
  margin-top: 20px;
}

.wrapper form .row.button input,
.wrapper form .row.button .login-btn {
  height: 50px;
  line-height: 50px;
  padding: 0;
}

/* Form */
.wrapper form {
  padding: 25px 35px;
}

/* Input Rows */
.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

/* Inputs */
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
}

.wrapper form .row input:focus {
  border-color: #16a085;
}

.wrapper form .row input::placeholder {
  color: #999;
}

/* Icons */
.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  background: #16a085;
  color: #fff;
  font-size: 22px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTON FIX */
.wrapper form .row.button {
  height: auto;
}

/* Register Button */
.wrapper form .row.button input {
  display: block;
  width: 100%;
  text-align: center;
  background: #16a085;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.wrapper form .row.button input:hover {
  background: #12876f;
}

/* Login Button */
.login-btn {
  display: block;
  width: 100%;
  text-align: center;
  background: #16a085;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.login-btn:hover {
  background: #138a72;
}
